.quest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  // max-width: $desktop-width;
  width: 100%;
  height: 100%;
  padding-top: 43px;
  padding-bottom: 70px;
}

.quest__wrapper {
  // width: 50%;
  min-width: 560px;
  max-width: min-content;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.quest__content {
  padding-left: 32px;
}

.quest__title,
.quest__description {
  font-family: $font;
  color: #ffffff;
}

.quest__subtitle {
  font-weight: 300;
  color: $brand-color;

  margin-right: 30px;
  margin-bottom: 10px;
  padding-left: 8px;
}

.quest__title {
  max-width: 100%;

  font-size: 92px;
  line-height: 95%;
  font-weight: 900;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 36px;
}

.quest__list {
  font-family: $font;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;

  @include list-reset();

  display: flex;
  width: 100%;
  margin-right: 14.5%;
  margin-bottom: 25px;
}

.quest__item {


  position: relative;
  padding-right: 24px;

  &:not(:first-child) {
    padding-left: 24px;
  }
}

.quest__item:not(:last-of-type)::after {
  content: "";
  position: absolute;

  top: -6px;
  // right: -24px;
  right: 0;

  height: 36px;
  width: 1px;
  background: rgba(255, 255, 255, 0.36);
}

.quest__item-text {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 17px;

  &::before {
    content: "";
    position: static;
    display: inline-block;
    margin-right: 6px;
    top: 0px;
    left: -29px;

    width: 24px;
    height: 24px;

    background-size: 34px;
  }

  &--time::before {
    @include background("../img/icons/icon-clock.svg");
  }
  &--capacity::before {
    @include background("../img/icons/icon-person.svg");
  }
  &--level::before {
    text-transform: uppercase;
    @include background("../img/icons/icon-puzzle.svg");
  }
}

.quest__description {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;

  max-width: 520px;
  // margin-right: 4%;
  margin-bottom: 43px;
}

.quest-back {
  display: none;
}

@media all and (-ms-high-contrast:none) {
  .quest__wrapper { /* IE10 */
    max-width: 700px;
  }

  *::-ms-backdrop, .quest__wrapper { /* IE11 */
    max-width: 700px;
  }
}

@media (max-width: $desktop-width - 1) {
  .quest {
    padding-bottom: 70px;
  }

  .quest__title {
    font-size: 60px;

    width: 100%;
  }
}

@media (max-width: $tablet-width - 1) {
  .quest {
    height: inherit;

    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;

    padding-top: 307px;
    padding-bottom: 58px;
    text-align: left;
  }

  .quest__wrapper {
    min-width: auto;
    max-width: none;
    width: 100%;
  }

  .quest__subtitle {
    align-self: flex-start;
    padding-left: 0;
    font-size: 14px;
    font-weight: 300;
  }

  .quest__title {
    font-size: 42px;
    letter-spacing: 0.001em;
    word-break: break-word;

    margin-bottom: 25px;
  }

  .quest__content {
    padding-left: 0;
  }

  .quest__list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: -16px;
    margin-right: -16px;

    min-height: 40px;
    margin-bottom: 11px;
  }

  .quest__item {
    display: flex;
    justify-content: center;
    width: 33.3%;
    align-items: flex-start;
    padding-right: 0;

    &:not(:first-child) {
      padding-left: 0;
    }
  }

  .quest__item:not(:last-of-type)::after {
    top: 0px;
    height: 48px;
  }

  .quest__item-text {
    font-size: 14px;
    text-align: center;

    max-width: 72px;

    flex-direction: column;
    align-items: center;

    &::before {
      margin-bottom: 10px;
      margin-right: 0;
    }

    &--time::before {
      top: -27px;
      left: 11px;
    }

    &--capacity::before {
      top: -31px;
      left: 20px;
    }

    &--level::before {
      top: -31px;
      left: 23px;
    }
  }

  .quest__description {
    margin-bottom: 26px;
  }

  .quest__button {
    margin-left: 0;
  }

  .quest-back {
    display: block;

    font-family: $font;
    font-size: 12px;
    line-height: 144%;
    text-transform: uppercase;

    position: absolute;
    top: 89px;
    left: 31px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -15px;
      height: 2px;
      width: 8px;
      background-color: white;
    }

    &::after {
      transform: rotate(-35deg);
    }

    &::before {
      top: 9px;
      transform: rotate(35deg);
    }
  }
}

@media (max-width: $tablet-width - 1) {

}
