.footer {
  position: fixed;
  bottom: 0;
  @include fixed-centering();

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $max-desktop-width;
  min-height: 70px;
  padding: 0 32px;
}

.footer__social {
  @include list-reset;
}

.footer__question {
  font-family: $font;
  font-size: 12px;
  color: $color-text-footer;

  position: relative;

  padding-bottom: 5px;

  border-bottom: 1px dashed $color-text-footer;

  transform: translateZ(0);
  transition: border, padding 200ms ease-out;

  &::before {
    content: "?";
    position: absolute;
    top: 0;
    left: 0;

    display: none;
  }

  &:hover {
    color: $brand-color;

    padding-left: 8px;

    border-bottom: 1px dashed $brand-color;

    &::before {
      display: block;
    }
  }
}

@media (max-width: ($desktop-width - 1)) {
  .footer {
    padding: 0 32px;

    &.footer--fixed {
      z-index: 10;
      position: fixed;
      bottom: 0;
      @include fixed-centering();
    }
  }

}

@media (max-width: ($tablet-width - 1)) {
  .footer {
    position: absolute;
    align-items: center;
    height: 71px;
    padding: 0 16px;
    // padding: 0;
  }

  .footer__question {
    // font-size: 18px;
    line-height: 19px;

    padding-top: 4px;
  }

  .footer--fixed {
    padding: 0 16px;
  }
}

@media (max-width: $mobile-width) {
  .footer__question {
    font-size: 16px;
    line-height: 19px;
  }
}
