.modal {
  position: fixed;
	top: 50%;
	left: 50%;
  width: 480px;
	height: auto;
	z-index: 5;
	visibility: hidden;
	backface-visibility: hidden;
	// transform: translateX(-50%) translateY(-50%);
  margin-left: -240px;
  top: 133px;
}

.modal__inner {
  display: flex;
  overflow-y: auto;
  border-radius: 3px;

	opacity: 0;
	transition: 0.3s;
  transform: translate3d(0, 0, 0);

  padding: 32px;
  padding-bottom: 34px;
  background: linear-gradient(0deg, #141414 0%, #1F1D1D 100%);

  font: $font;

  flex-direction: column;
  box-sizing: border-box;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font;
    font-style: normal;
    font-weight: 800;
    color: $base-color-light;
    font-size: 32px;
    line-height: 38px;
  }

  p {
    font-family: $font;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: $base-color;
  }
}


.modal--show {
  // display: block;
  visibility: visible;

  .modal__inner {
  	opacity: 1;
  }
}

.modal__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.modal__close {
  position: relative;
  top: 8px;
  width: 14px;
  height: 14px;
  margin-left: 15px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  transition: 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -3px;
    width: 19.8px;
    height: 2px;
    background-color: $base-color-light;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.modal__action {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  line-height: 27px;

  svg {
    margin-right: 7px;
  }

  span {
    font-size: 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:hover {
    span {
      color: $brand-color;
      border-bottom-color: $brand-color;
    }
  }
}

.modal__cities {
  ul {
    @include list-reset;
  }

  li {
    margin-bottom: 20px;

    &.active a {
      opacity: 1;
      border-bottom: 2px solid $brand-color;
    }
  }

  a {
    font-family: $font;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $base-color-light;
    opacity: 0.32;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}

.modal--question {

  .modal__title {
    margin-bottom: 39px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 15px;

  }

  input[type=text],
  input[type=email],
  textarea {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 23px 16px;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: border-color 0.3s;

    &:placeholder {
      opacity: 0.64;
    }

    &:focus {
      border-color: rgba(255, 255, 255, 0.64);
      outline: transparent;
    }

    &:valid {
      border-color: #1F6A1A;
    }

    &:invalid:focus:not(:placeholder-shown),
    &:invalid:not(:focus):not(:placeholder-shown) {
      border-color: rgba(242, 137, 15, 0.64);
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
      ~ .modal__validation {
        display: block;
      }
    }

    &:valid:not(:placeholder-shown),
    &:invalid:focus:not(:placeholder-shown),
    &:invalid:not(:focus):not(:placeholder-shown) {
      &~.modal__prompt {
        display: block;
      }
    }
  }

  textarea {
    resize: none;
    padding-top: 14px;
    padding-bottom: 24px;
  }

  span {
    // margin-bottom: 15px;
  }

  label:last-child {
    position: relative;
    margin-bottom: 0;
    padding-right: 0;

    cursor: pointer;
    padding-left: 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

    &:hover {
      .checkbox-indicator {
        opacity: 1;
      }
    }
  }

  .checkbox-indicator {
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background-color: $brand-color;
    border-radius: 3px;
    opacity: 0.4;
    transition: opacity 0.3s;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 2px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    & + span {
      pointer-events: none;
    }
  }

  input[type=checkbox]:checked + .checkbox-indicator {

    opacity: 1;

    background-image: url("../img/icons/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      opacity: 1;
    }
  }
}

.modal__form-inner {
  padding-right: 16px;
}

.submit-focused {
  input:invalid,
  textarea:invalid {
    border-color: rgba(242, 137, 15, 0.64);

    ~ .modal__validation {
      display: block;
    }
  }
}

.modal__validation {
  display: none;
  position: absolute;
  font-size: 12px;
  left: 25px;
  top: 55px;
  line-height: 17px;
  // bottom: -35px;

  color: $brand-color;
  opacity: 0.64;
}

.modal__validation--question {
  top: auto;
  bottom: -16px;
}

.modal__input-wrapper {
  position: relative;
  margin-bottom: 30px;
  width: 100%;

  &:last-child {
    margin-bottom: 26px;
  }
}

.modal__prompt {
  display: none;
  z-index: 1;
  position: absolute;
  font-size: 12px;
  line-height: 17px;
  left: 20px;
  top: -8px;
  padding-left: 6px;
  padding-right: 5px;
  background-color: #1B1919;
  color: rgba(240, 240, 240, 0.64);

  &.visible {
    display: block;
  }
}

.modal__submit {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;

  button {
    @include brand-button;
    padding: 16px 32px 15px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 47.32px;
    outline: none;

    &:disabled {
      background-color: #B8B8B8;
    }
  }
}

.modal--empty {
  .modal__submit button {
    background-color: #B8B8B8;
  }
}

.modal--filled {
  .modal__submit button {
    background-color: $brand-color;

    &:hover {
      background-color: $brand-color-light;
    }
  }
}

.modal__overlay {
  position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 4;
	opacity: 0;
	transition: 0.3s;
  background-color: #3D3333;
}

.modal__overlay--show {
	opacity: 1;
	visibility: visible;
}

// @media (max-width: ($desktop-width - 1)) {
//   .modal {
//     top: 80px;
//   }
// }

@media (max-width: ($desktop-width - 1)) {
  .modal {
    width: 100%;
    min-width: 320px;
    top: 0;
    left: 0;
    margin-left: 0;
  }

  .modal__prompt {
    left: 16px;
  }

  .modal__inner {
    min-height: 100vh;
    padding-bottom: 20px;
  }
}

@media (max-width: ($tablet-width - 1)) {
  .modal__inner {
    padding-left: 16px;
    padding-right: 16px;
  }

  .modal__form-inner {
    padding-right: 7px;
  }
}

@media (max-width: 359px) {
  .modal__action span {
    font-size: 15px;
  }

  .modal__inner {

    h2 {
      font-size: 28px;
    }

    p {
      font-size: 15px;
    }
  }

  .modal__cities a {
    font-size: 22px;
  }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
};
