.quests-filters {
  ul {
    @include list-reset;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  li {
    display: flex;
    position: relative;
    padding-right: 2.5%;

    &:not(:first-child) {
      padding-left: 2.5%;
      border-left: 1px solid rgba(255, 255, 255, 0.32);
    }

    &:first-child {
      justify-content: flex-start;
    }

    &.active {
      span {
        border-bottom: 2px solid $brand-color;
      }
    }
  }

  svg {
    margin-right: 12px;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 40px;

    &:hover {
      span {
        color: $brand-color;
      }
    }
  }

  span {
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    color: $base-color-dark;
    transition: 0.3s;
  }
}
