.main {
  width: inherit;
  height: inherit;
  max-width: $max-content-width;;
  @include margin-centering();
}

@media (max-width: $desktop-width - 1) {
  .main {
    height: calc(100vh - 86px); //86px (высота header + margin 8px)
  }
}

@media (max-width: $tablet-width - 1) {
  .main {
    display: flex;
    height: auto;
    min-height: calc(100vh - 86px);
  }
}
