.wrapper {
  height: 100vh;
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
  background-position: 39%;
  background-size: cover;
  position: relative;
  z-index: 4;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--blurred {
  &::before,
  &::after {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::before {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../img/photos/bg_maniac.jpg');
    filter: blur(70px);
    background-position: 99% 25%;
    background-size: 136%;
  }
}

@media (max-width: $desktop-width - 1) {
  .wrapper {
    height: auto;
    min-height: 100vh; // это важно
  }

  .wrapper--blurred {

    &::before {
      background-size: 274%;
      background-position: 48% -203px;
    }

    &::after {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150E 89.63%, #1A140D 106.79%);
    }
  }

  .container {
    padding-bottom: 71px;
    height: 100%;
  }
}

@media (max-width: ($tablet-width - 1)) {
  .wrapper {
    padding: 0 16px;
  }
}
