html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-family: $font;
  background-color: $background-color;
  background: linear-gradient(0deg, #141414 0%, #1F1D1D 100%);
  color: $base-color;
  font-size: 15px;
  line-height: 22px;
}

a, a span {
  color: $base-color;
  transition: 0.3s;
  transform: translateZ(0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title,
.text {
  margin: 0;
}
