$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 360px;


$font-text: "Raleway", "Arial", sans-serif;

$color-yellow: #f2890f;
$color-yellow-button: #f28a0f;

$color-text-footer: #e6e6e6;
$color-text-header: #f0f0f0;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
