// $desktop-width: 1366px;
$max-desktop-width: 1366px;
$max-content-width: 1094px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 360px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "Raleway", "Open Sans", sans-serif;

$base-color-light: #ffffff;
$base-color: #f0f0f0;
$base-color-dark: #f6f6f6;
$brand-color: #f2890f;
$brand-color-light: #f39425;
$background-color: #141414;
$brand-color-button: #f28a0f;
$color-text-footer: #e6e6e6;
