$tablet-width: 768px;
$mobile-width: 360px;

$font: "Raleway", "Open Sans", sans-serif;

$base-color-light: #ffffff;
$base-color: #F0F0F0;
$base-color-dark: #F6F6F6;
$brand-color: #F2890F;
$brand-color-light: #F39425;
$background-color: #141414;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
