.button {
  font-family: $font;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;

  width: 250px;
  min-height: 65px;
  padding: 22px 33px;

  background-color: $brand-color-button;
  border-radius: 65px;
  border: none;

  outline: none;
  transition: 0.3s;

  &:hover {
    background-color: #f39425;
    cursor: pointer;
  }
}


@media (max-width: $mobile-width) {
  .button {
    font-size: 14px;
    line-height: 16px;

    min-height: 47px;
    height: 47px;
    width: 185px;
    padding: 5px 30px;
  }
}
